<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ regifant.navn }}</title>
</head>
<body>

    <h2>{{ regifant.navn }}</h2>
    <img src="{{ regifant.bilde.url }}">
    <p>
        Info om denne regifanten
    </p>


    <h3>verv</h3>
    <table>
        <tr>
            <th>Verv</th>
            <th>år</th>
        </tr>
        {% for vervperiode in vervperiodeliste %}
            <tr>
                <td><a href={% url 'felixdb:vervdetalj' vervperiode.verv.pk%}>{{ vervperiode.verv }}</a></td>
                <td><a href={% url 'felixdb:aarsoversikt' vervperiode.aar %}>{{ vervperiode.aar }}</a></td>
            </tr>
        {% endfor %}
    </table>


    <h3>Ukeverv</h3>
    <table>
        <tr>
            <th>UKEverv</th>
            <th>UKE</th>
        </tr>
        {% for ukevervperiode in ukevervperiodeliste %}
            <tr>
                <td>
                    <a href={% url 'felixdb:ukevervdetalj' ukevervperiode.ukeverv.id %}>
                        {{ ukevervperiode.ukeverv }}
                    </a>
                </td>
                <td>
                    <a href={% url 'felixdb:ukedetalj' ukevervperiode.uke.aar %}>
                        {{ ukevervperiode.uke }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>