<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regi pålogging</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
</head>

<body>
    <div class="login-container">
        <img src="{% static 'login/felixcrossbones.png' %}">
        <p>
            Skal du inn her, du? Da må du logge inn først!
        </p>
        <form method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <p>
                <input type="text" id="username" name="username" placeholder="Brukernavn">
            </p>
            <p>
                <input type="password" id="password" name="password" placeholder="Passord">
            </p>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>