body{
    margin: 0;
}
.wrapper {
    display: grid;
    font-family: sans-serif;
    font-weight: lighter;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 5em auto;
    border-bottom-style: none;
    border-bottom-color: darkgrey;
    border-bottom-width: 1px;
    box-shadow: 0.5em 0.5em 1em lightgray;
    padding: 7px;
}

.nav {
    font-size: 1.3em;
    margin: auto auto auto 2em;
}

.link{
    padding-left: 1em;
    text-decoration: none;
}

.link-aktiv{
    text-decoration: underline;
    text-decoration-color: red;
}

.logo {
    object-fit: scale-down;
    width: 100%;
}

a, a:active, a:focus{
    outline: none;
}

a:visited{
    color: black;
}

.main {
    text-align: center;
    max-width: 70em;
    margin: auto;
    padding: 2em 5em 5em 5em;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-image: url("bordnederst.png");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: repeat-x;
    height: 3em;
    width: 100%;
    opacity: 0.1;
}

