<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> {{ bsf.dato }} - {{ bsf.beskrivelse }} -> {{ eksternliste.bar }}</h1>
{% if tilbakemelding %}
    <h2> {{ tilbakemelding }} </h2>
{% endif %}

<h3>Registrer nye eksternkryss</h3>
<form action="{% url 'festkassen:admin_rediger_ekstern_liste' bsf.pk eksternliste.pk %}" method="post">
    {% csrf_token %}
    {{ nytteksternkryssskjema.as_p }}
    <input type="submit" value="registrer">
</form>

<table>
        <tr>
            <th>Person</th>
            <th>Vare</th>
            <th>Antall</th>
            <th>Stykkpris</th>
            <th>Sum</th>
            <th></th>
        </tr>
        {% for enkeltkryss in kryss %}
            <tr>
                <td>{{ enkeltkryss.person }}</td>
                <td>{{ enkeltkryss.vare }}</td>
                <td>{{ enkeltkryss.antall }}</td>
                <td>{{ enkeltkryss.stykkpris }}</td>
                <td>{{ enkeltkryss.sum }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>