<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if tilbakemelding %}
    <h2> {{ tilbakemelding }} </h2>
{% endif %}
<table>
        <tr>
            <th>Person</th>
            <th>Vare</th>
            <th>Antall</th>
            <th>Stykkpris</th>
            <th>Sum</th>
            <th></th>
        </tr>
        {% for enkeltkryss in kryss %}
            <tr>
                <td>{{ enkeltkryss.person }}</td>
                <td>{{ enkeltkryss.vare }}</td>
                <td>{{ enkeltkryss.antall }}</td>
                <td>{{ enkeltkryss.stykkpris }}</td>
                <td>{{ enkeltkryss.sum }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>