<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if tilbakemelding %}
    <h2> {{ tilbakemelding }} </h2>
{% endif %}
<div>
    <form action="{% url 'festkassen:admin_krysselister' %}" method="post">
        {% csrf_token %}
        {{ nykrysselisteskjema.as_p }}
        <input type="submit" value="registrer">
    </form>
</div>
<table>
        <tr>
            <th>ID</th>
            <th>Listedato</th>
            <th>Type</th>
        </tr>
        {% for krysseliste in krysselister %}
            <tr>
                <td>{{ krysseliste.pk }}</td>
                <td>{{ krysseliste.listedato }}</td>
                <td>{{ krysseliste.type }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>