<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{ krysseliste }}</h2>
    <table>
        <tr>
            <th> Konto</th>
            <th> Vare </th>
            <th> Antall </th>
            <th> Stykkpris </th>
            <th> Sum </th>
            <th></th>
        </tr>
        {% for enkeltkryss in kryss %}
            <tr>
                <td>{{ enkeltkryss.festkassekonto }}</td>
                <td>{{ enkeltkryss.vare }}</td>
                <td>{{ enkeltkryss.antall }}</td>
                <td>{{ enkeltkryss.stykkpris }}</td>
                <td>{{ enkeltkryss.sum }}</td>
                <td> <a href= {% url 'festkassen:admin_slett_kryss' krysseliste.pk enkeltkryss.pk %}> Slett </a></td>
            </tr>
        {% endfor %}
    </table>

    <form action="{% url 'festkassen:admin_rediger_krysseliste' krysseliste.pk%}" method="post">
        {% csrf_token %}
        <label for="konto">Konto</label>
        <select id="konto" name="konto" autofocus>
            {% for konto in kontoer %}
                <option value={{ konto.pk }}>{{ konto }}</option>
            {% endfor %}
        </select>
        <p>
        {% for vare in varer %}
            <label for="{{ vare.navn }}">{{ vare.navn }}</label>
            <input type="number" name="{{ vare.navn }}" id="{{ vare.navn }}" value=0>
        {% endfor %}
        </p>

        <input type="submit" value="Registrer">
    </form>
</body>
</html>