<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
</head>
<body>
    <h2> velkommen til Regi internsider</h2>

    {% if user.is_authenticated %}
        <p> du er logget in som {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">logg ut</a> </p>
    {% else %}
        <p> Du er ikke logget inn</p>
        <p> <a href="{% url 'login' %}"> logg inn </a></p>
    {% endif %}


    <ul>
        <li><a href="{% url 'felixdb:index' %}"> FelixDB </a> </li>
        <li><a href="{% url 'festkassen:forside' %}"> Festkassen </a> </li>
        <li><a href="{% url 'wiki:index' %}"> Wiki </a> </li>
    </ul>
</body>
</html>