<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om Regi</title>
</head>
<body>
    <h1> Om Regi </h1>
    <p>
        Regi er Studentersamfundet i Trondhjems lys- og scenetekniske gjeng.
        Dette innebærer at vi kjører lys på konserter og teater i Storsalen,
        Klubben og Knaus, og sørger for at disse scenene til enhver tid er i god
        teknisk stand. I lyskasterparken vår inngår nærmere 200 konvensjonelle
        lyskastere, samt en hel del teknisk avanserte duppedingser
        (deriblandt moving og flere velrenommerte lysbord (detaljer).
        For å beholde det nødvendige tekniske kompetansenivået i gjengen har vi
        en bindingstid på tre år for alle våre aktive.
        Regi disponerer også et fullverdig mekanisk verksted og en elektrolab,
        hvor vi lager og vedlikeholder nytt og gammelt utstyr.
        Vi er i dag 19 aktive medlemmer i gjengen,
        som alle har funksjonærstatus på huset.
        Alt arbeid skjer selvfølgelig på ideell basis.
    </p>
</body>
</html>